.todo-list-container {
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 10px 20% 0 20%;
    padding: 1px 0 15px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.todo-item {
    list-style-type: none;
    border-bottom: 2px ridge black;
    box-shadow: 8px 2px 2px rgba(0, 0, 0, 0.4);
    margin-right: 10%;
    padding: 5px 0;
    background-color: lightgray;
    border-radius: 20px;
    justify-content: start;
}

.todo-check-box {
    display: flex;
    flex-direction: row;
}


.task-text {
    user-select: none;
    font-weight: 450;
    font-size: 18px;
    display: inline-block;
    width: 80%;
}

.completed {
    text-decoration: line-through;
}

.todo-check-box input[type="checkbox"] {
    cursor: pointer;
}
 
.new-task-box {
    margin-left: 20%;
    width: 45%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.delete-button {
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    width: 25px;
    height: 25px;
    align-self: center;
}

.delete-button:hover {
    color: red;
}

.new-task-form button[type="submit"] {
    margin-left: 2%;
    height: 34px;
    width: 12%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.new-task-form button[type="submit"]:hover {
    background-color: lightgray;
    color: blue;
    border: 1px solid blue;
}

.todo-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todo-link {
    margin: 2%;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
}

.todo-link:hover {
    background-color: lightgrey;
    color: blue;
    border: 1px solid blue;
}