.contact-form {
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 0 20% 0 20%;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    color: white;
}

.formrow {
    user-select: none;
}

.last-name {
    margin-left: 2px;
}

.email-form {
    margin-left: 39px;
}

.comment-label {
    display: grid;
}

.comment-box {
    width: 250px;
    height: 150px;
}

.submit-button {
    width: 50px;
    height: 25px;
    font-weight: 450;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    cursor: pointer;
}
