.nav-bar {
    display: grid;
    grid-template-columns: auto 2fr;
    background-color: black;
    border: 2px ridge black;
    color: lightgray;
    align-items: center;
}

.nav-bar-header {
    width: 300px;
}

.nav-link-container {
    display: flex;
    justify-self: flex-end;
    align-self: stretch;
    align-items: center;
    width: 225px;
}

.nav-link {
    padding: 0 10px;
    color: inherit; 
    text-decoration: none;
}
.nav-item {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-item:has(.nav-link.active) {
    background-color: purple;
    border: 3px solid white;
    border-top: 0;
}

.nav-link:hover {
    color: white;
}

.nav-link.active {
    color: white;
}